@media only screen and (min-width: 900px){
    nav ul{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px;
    }
    
/* Hero Image...ish */

    #hero_section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row:1;
    }
    
    #hero_img{
        width:100%;
        grid-column: 1/4;
        display: none
    } 

    #hero_img_large{
        display: grid;
        width: 95%;
        margin: 0 auto;
        grid-column: 1/4;
    }

    #content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #weather{
        grid-column: 1/2;
        grid-row:2
    }

    #info{
        grid-column: 2/3;
        grid-row:2;
    }

    #action{
        grid-column: 3/4;
        grid-row: 2;
    }

    #smoothie{
        width: 60%;
    }

    #about_us_content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #about-info{
        grid-column: 1/4;
        grid-row: 1;
        margin: 0 auto;
        width: 75%;
    }

    #trail{
        grid-column: 1/2;
        grid-row: 2;
    }

    #foodtruck{
        grid-column: 2/3;
        grid-row: 2;
    }

    #ocean{
        grid-column: 3/4;
        grid-row: 2;
    }

    #map{
        grid-column: 1/4;
        grid-row: 3;
        /* width: 75%; */
    }
}