@media only screen and (min-width: 900px) and (max-width: 2000px){
    nav ul{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px;
    }

    footer{
        flex-direction: row;
    }
    
/* Hero Image...ish */

    #hero_section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row:1;
    }
    
    #hero_img{
        width:100%;
        grid-column: 1/4;
        display: none
    } 

    #hero_img_large{
        display: grid;
        width: 95%;
        margin: 0 auto;
        grid-column: 1/4;
    }

    #content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #weather{
        grid-column: 1/2;
        grid-row:2
    }

    #info{
        grid-column: 2/3;
        grid-row:2;
    }

    #action{
        grid-column: 3/4;
        grid-row: 2;
    }

    #smoothie{
        width: 60%;
    }

    /* About Us Page*/

    #about_us_content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #about-info{
        grid-column: 1/4;
        grid-row: 1;
        margin: 0 auto;
        width: 75%;
    }

    #trail{
        grid-column: 1/2;
        grid-row: 2;
    }

    #foodtruck{
        grid-column: 2/3;
        grid-row: 2;
    }

    #ocean{
        grid-column: 3/4;
        grid-row: 2;
    }

    #map{
        grid-column: 1/4;
        grid-row: 3;
        /* width: 75%; */
    }

    #contact_info{
        grid-column: 1/4;
        grid-row: 4;
        margin: 10px auto;
        width: 80%;
    }

    #contact_info div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #fresh_content{
        position: absolute;
        width: 40%;
        top: 325px;
        right: 35px;
    }
}