img {
    background: #F1F1FA;
    width: 200px;
    height: 150px;
    display: block;
    margin: 10px auto;
    border: 1px solid black;
  }

  section img[data-src] {
    filter: blur(0.2em);
  }
  
  section img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
  