html, body {
    height: 100%;
    margin: 0;
  }

/* #content{
    min-height: 100%;
} */

nav{
    background-color:#bba364;
    /* border-radius: 5px; */
    box-shadow: 5px 5px 10px #6f7364;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    list-style-type: none;
}

button{
    background-color: transparent;
    border:none;
    color:#0a1256;
    float: right;
    font-size: 20px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float:right;
    /* position: absolute; */
}

nav ul li a{
    display:block;
}

nav ul {display: none;}
nav ul.open {display: block;}

a{
    /* display: block; */
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0a1256;
    font-size:x-large;
}

a:hover{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}

#flogo, #ilogo{ 
    width: 20px;
}

nav h1{
    color:#0a1256;
    padding: 5px;
}

#banner{
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 25px;
}

#days{
    background-color: #0a1256;
    color: #bba364;
    
}

footer{
    background-color:#bba364;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer a{
    text-decoration: none;
}

footer h1{
    font-size: small;
    color: black;
}

#small_logo, #small_logo2{
    width: 50px;
    padding: 5px;
}

/* Home grid */
#content{
    display:grid;
    grid-template-columns: 1fr;
    font-family: 'Roboto Mono', monospace;
}


#hero{
    position:relative;
    margin: 5px;
}

#idahofalls{
    width:100%;
}

#idahofalls2{
    display: none;
}

#welcome{
    position:absolute;
    top:0;
    left:0;
    color:#bba364;
}

#small{
    position: absolute;
    top: 0;
    left: 0;
}

#medium{
    display: none;
}

#large{
    display: none;
}

#joinus{
    position: absolute;
    bottom:0;
    right:15px;
    background:#bba364;
    border-radius: 5px;
    /* width:100px; */
    color:#0a1256;
    text-align: center;
    padding:5px;
}

#events{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    /* background-color: #ccb885; */
}

#icecream{
    width: 50%;
}

#weather{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    /* background-color: #ccb885; */
}

#weather_icon{
    width: 50%;
}

#news{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    /* background-color: #ccb885; */
}

#join{
    display:none;
}

#spotlight1{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    /* background-color: #ccb885; */
}

#truck{
    width: 50%;
}

#spotlight2{
    border: solid black 1px;
    margin: 5px;
    text-align: center;
    /* background-color: #ccb885; */
}

#pen{
    width:50%;
}

#spotlight3{
    display:none;
    /* background-color: #ccb885; */
}

/* Discover Page */

/* Discover grid */
#discover{
    display:grid;
    grid-template-columns: 1fr;
    font-family: 'Roboto Mono', monospace;
}

#greenbelt{
    margin: 5px;
    text-align: center;
}

#greenbelt-img{
    display:block;
    margin:0 auto;
    width: 75%;
}

#yellowstone{
    margin:5px;
    text-align: center;
}

#yellowstone-img{
    display: block;
    margin: 0 auto;
    width: 75%;
}

#museum{
    margin:5px;
    text-align: center;
}

#museum-img{
    display: block;
    margin: 0 auto;
    width: 75%
}

#freeman{
    margin:5px;
    text-align: center;
}

#freeman-img{
    display: block;
    margin: 0 auto;
    width:75%;
}

#mountain{
    margin:5px;
    text-align: center;
}

#mountain-img{
    display: block;
    margin: 0 auto;
    width: 75%;
}

#zoo{
    margin:5px;
    text-align: center;
}

#zoo-img{
    display:block;
    margin: 0 auto;
    width: 75%;
}

#memorial{
    margin:5px;
    text-align: center;
}

#memorial-img{
    display:block;
    margin: 0 auto;
    width: 75%;
}

#fireworks{
    margin: 5px;
    text-align: center;
}

#fireworks-img{
    display: block;
    margin: 0 auto;
    width: 75%;
}

#river{
    margin: 5px;
    text-align: center;
}

#river-img{
    display: block;
    margin: 0 auto;
    width: 75%;
}

#days-visits{
    text-align: center;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* JOIN page CSS */

#join_content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    color: #0a1256;
    font-family: 'Source Sans Pro', sans-serif;
}

label, input{
    display: block;
    font-size: 1.5em;
}

label{
    margin-top: 20px;
}

input{
    height: 40px;
}

input[type='radio']{
    height: 20px;
}

form input:required{
    border-left: red solid 6px;
}

form input:required:valid{
    border-left: green solid 6px;
}

#radio {
    display: grid;
    grid-template-columns: 60px 100px;
    /* align-items: center; */
}

#radio label, #radio input{
    margin: 0;
}

textarea{
    height: 150px;
}

input, textarea{
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px; 
}

input[type='submit']{
    height: 80px;
    border-radius: 10px;
    background-color: #0a1256 ;
    color: #bba364;
}

#membership li{
    padding: 10px;
}

#join_chamber{
    text-align: center;
    color: #0a1256;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Thank you CSS */

#thankyou{
    color: #0a1256;
    text-align: center;
    margin-bottom: 20%;
}

/* Directory CSS */

#directory{
    font-family: 'Courier New', Courier, monospace;
}

#directory p{
    color: #0a1256;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

#directory h1, h2{
    text-align: center;
    color: #0a1256;
}

.cards section{
    border: 1px solid #0a1256;
    padding: 30px;
    width: 300px;
    margin: 20px;
}

.cards img{
    width: 60%;
    box-shadow: 5px 10px 8px 5px #888888;
}

#view{
    text-align: center;
    font-size: 3em;
}

#cards, #list{
    color: #0a1256;
    padding: 0 8px;
    cursor: pointer;
}

#directory table{
    width: 85%;
    margin: 5% auto;
    font-size: 15px;
    display: none;
}

#directory td{
    padding: 5px;
    display: block; /*media query use table-cell*/
}

#directory tr:nth-of-type(even) {
    background-color: #0a125630;
}
