@media only screen and (min-width: 900px){
    nav ul{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10px;
    }

    #content{
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    #hero{
        /* border: solid black 1px; */
        grid-column: 2/3;
        grid-row: 1/3;
        margin: 5px;
    }

    #welcome{
        color:#0a1256;
    }

    #idahofalls{
        display: none;
    }

    #idahofalls2{
        display:grid;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #medium{
        display: none;
    }

    #large{
        display: grid;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #events{
        border: solid black 1px;
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 5px;
    }
    
    #weather{
        border: solid black 1px;
        margin: 5px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    #news{
        border: solid black 1px;
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 5px;
    }

    #join{
        display:grid;
        border: solid black 1px;
        grid-column:1/2;
        grid-row: 3/4;
        margin: 5px;
    }

    #join h1{
        height: 35px;
    }
    
    #spotlight1{
        border: solid black 1px;
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 5px;
    }
    
    #spotlight2{
        border: solid black 1px;
        grid-column:3/4;
        grid-row: 2/3;
        margin: 5px;
    }

    #spotlight3{
        display:grid;
        border: solid black 1px;
        grid-column: 3/4;
        grid-row: 3/4;
        margin: 5px;
        text-align: center;
    }

    #tree{
        width: 50%;
    }

    /* Discover Page */

    /* Discover grid */
    #discover{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #greenbelt{
        grid-column:1/2;
        grid-row: 1;
    }

    #yellowstone{
        grid-column: 2/3;
        grid-row: 1;
    }

    #museum{
        grid-column:3/4;
        grid-row: 1;
    }

    #freeman{
        grid-column:1/2;
        grid-row:2;
    }

    #mountain{
        grid-column: 2/3;
        grid-row:2;
    }

    #days-visits{
        grid-column: 1/4;
    }
}